[project]
	description = script file
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/frank75888
[access "refs/for/refs/*"]
	read = group user/frank75888
	push = group user/frank75888
	label-Code-Review = -2..+2 group user/frank75888
	label-Verified = -1..+1 group user/frank75888
	rebase = group user/frank75888
	removeReviewer = group user/frank75888
	submit = group user/frank75888
[access "refs/heads/*"]
	read = group user/frank75888
	create = group user/frank75888
	push = +force group user/frank75888
	pushMerge = group user/frank75888
[access "refs/tags/*"]
	push = group user/frank75888
	push = +force group user/frank75888
